* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --main-color: #555;
    --secondary: rgb(243, 237, 237);
}

a {
    text-decoration: none;
    color: var(--main-color);
}


html {
    scroll-padding-top: 200px; 
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 20%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 70%, rgba(255,255,255,1) 100%);
    font-family: 'PT Sans Narrow', sans-serif; 
    background-attachment: fixed;   
    
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    word-spacing: -1px;
    font-family: 'WindSong', cursive;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 10px;
    color: var(--secondary);
    text-shadow: 1px 1px 2px black;
}

p { 
    padding: 0 20px;
}
/* Start Nav */

.nav-container {
    display: flex;
    position: fixed;
    top: 0;
    background-color: var(--secondary);
    width: 100%;
    height: 100px;
    left: 0;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgb(157, 157, 157) 2px 2px 30px 5px;
}

.name {
    font-family: 'WindSong', cursive;
    font-weight: bold;
    position: absolute;
    left: 10px;
    filter: drop-shadow(2px 2px 1px #333);
    
}
.nav-link, .name {
    padding: 10px;
    margin-right: 10px;
    font-size: 1.5em;
}

/* Start Welcome */

#welcome-section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background: rgb(41,96,145);
    background: linear-gradient(140deg, rgba(41, 97, 145, 0.693) 0%, rgba(29, 253, 208, 0.693) 50%, rgba(228,225,195,0.693) 100%);
    border-radius: 10% / 50%;
    text-align: center;
    margin-top: 200px;
}

#profile {
    width: 200px;
    border-radius: 75%;
    align-items: center;
    box-shadow: rgb(157, 157, 157) 2px 2px 30px 5px;
}

#welcome-section p {
    font-size: 1.25em;
    word-spacing: 3px;
    font-weight: lighter;
    text-align: center;
}

/* Start About */

#about-me {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 200px;
}

/* Start Projects */

#projects, #about-me, #contact {
    background: rgb(41,96,145);
    background: linear-gradient(140deg, rgba(41,96,145,1) 0%, rgba(29,253,209,1) 50%, rgba(228,225,195,1) 100%);
    font-size: 1.5em;
    margin-top: 200px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 30px;
    width: 75%;
    height: 100%;
    justify-content: center;
    margin-left: 12.5%;
    box-shadow: rgb(157, 157, 157) 2px 2px 30px 5px;
}

#projects h2 {
    margin-bottom: 50px;
}

.project-tile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 200px;
    border-radius: 50%;
    box-shadow: rgb(21, 165, 184) 2px 2px 30px 2px;
}

.project-name {
    margin-top: 0;
    text-shadow: 1.5px 2px 2px rgb(169, 179, 179);
}

/* Start Contact */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 5px; 
    margin-bottom: 100px;
}

#contact h2 {
    font-size: 2.5em;
    margin: 50px 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
}

#contact a {
    color: var(--main-color);
    text-align: center;
    padding: 0 24px;
}
/* .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
} */

.contact-details{
    text-shadow: 1.5px 2px 2px rgb(169, 179, 179);
}

.contact-details, .project-img {
    transition: transform 0.3s ease-out;
}
.contact-details:hover,
.project-img:hover {
    transform: translateY(8px);
  }

footer{
    border-top: 4px solid var(--main-color);
    color: var(--main-color);
    text-align: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

@media  screen and (max-width: 850px) {
    .project-tile {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .name {
        position: absolute;
        top: -4px; 
        left: 35vw;

    }

    .nav-container {
        justify-content: center;
        align-items: end;
    }

    h1 {
        font-size: calc(1.5rem + 3vw);
    }
}
